.skills {
    background: $theme;
    color: $white;
    padding: $sectionPadding;
    &__header {
        font-weight: bold;
        font-size: 36px;
        @media screen and (min-width: 768px) {
            font-size: 48px;
            margin-bottom: 128px;
          }
    }
    &__flexbox {
        display: block;
        margin: 0 auto;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
            max-width: 1200px;
          }
    }
    &__section {
        padding: 0 24px;
        display: block;
    }
    &__image {
        height: 110px;
        margin: 16px 0;
    }
    &__section-header {
        margin: 0 0 24px 08;
        font-weight: bold;
        font-size: 24px;
    }
    &__list {
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        color: $babyblue;
        padding: 12px 24px;

        &--green {
            list-style: url("../assets/img/small-tick.svg");
        }
        &--item {
            padding: 12px;
        }
        &--white {
            list-style: url("../assets/img/small-tick-blue.svg");
        }

        &--dot {
            list-style: url("../assets/img/bullet.png");
        }
    }
}
