.skills {
    background: $theme;
    color: $white;
    padding: $sectionPadding;
    &__header {
        font-weight: bold;
        font-size: 36px;
    }
    &__section {
    }
    &__image {
        width: 160px;
        margin: 16px 0;
    }
    &__section-header {
        margin-bottom: 24px;
        font-weight: bold;
        font-size: 24px;
    }
    &__list {
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        color: $babyblue;
        padding: 12px 24px;

        &--green {
            list-style: url("../assets/img/small-tick.svg");
        }
        &--item {
            padding: 12px;
        }
        &--white {
            list-style: url("../assets/img/small-tick-blue.svg");
        }

        &--dot {
            list-style: url("../assets/img/bullet.png");
        }
    }
}
