@import "~normalize.css";

@import "_variables";
@import "modules/contact.scss";
@import "modules/header.scss";
@import "modules/projects.scss";
@import "modules/skills.scss";

@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;0,700;1,400&family=Roboto+Mono:wght@300;400&display=swap";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $white;
  color: $text;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  width: 100%;
  text-align: center;
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
}

.email {
  background: $lightblue;
  border-radius: 64px;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding: 12px 24px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}